/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Lato', Arial, sans-serif;
    background: black;
}

a {
    color: white;
}

.nav-logo {
    position: absolute;
    z-index: 100;
    left: 24px;
    top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    font-size: 1.57143rem;
    line-height: 1
}

.galleryphotos {
    position: relative;
    top: 50px;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.galeryrow {
    height: 300px;
    overflow: hidden;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.page-hero .nav-logo {
    color: #fff
}

.soon {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    font-size: 1.57143rem;
    color: white;
}


.nav-slogan {
    position: absolute;
    font-size: 10px;
    font-size: 0.71429rem;
    line-height: 1;
    letter-spacing: 0.11em;
    left: 0;
    top: 24px;
    font-weight: 700;
    text-transform: uppercase
}


img {
    width: 100%;
}

.galleryphotos {
    position: relative;
    top: 80px;
    overflow: hidden;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
}

.galleryrow {
    height: 500px;
    overflow: hidden;
}

.no-gutter>[class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}


/*** Media queries for adjusting to different screen sizes ***/


@media screen and (min-width: 375px) {
    .soon {
        font-size: 22px;
        font-size: 1rem
    }
}

@media only screen and (max-width: 600px) {
    .mainstream {
        font-size: 10px;
    }
}

@media only screen and (max-width: 480px) {
    .mainstream {
        font-size: 7px;
    }
}


@media screen and (max-width: 599px) {
    .page-hero .nav-logo {
        display: inline-block
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .page-archive .nav-logo {
        display: none
    }
}

@media screen and (min-width: 600px) {
    .nav-logo {
        left: 27px;
        top: 25px;
        font-size: 26px;
        font-size: 1.85714rem
    }
}


@media screen and (min-width: 600px) {
    .nav-slogan {
        font-size: 11px;
        font-size: 0.78571rem;
        line-height: 1;
        left: 100%;
        margin-left: 18px;
        top: 3px;
        white-space: nowrap
    }
}

@media screen and (max-width: 599px) {
    .nav-about {
        width: 24px;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: 16px;
        bottom: 23px
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .nav-about {
        bottom: 16px
    }
}

@media screen and (min-width: 800px) {
    .nav-about {
        padding-top: 30px;
        left: -44px;
        top: 50%;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -ms-transform-origin: center top;
        transform-origin: center top;
        transition: transform 300ms
    }
    .nav-about:hover {
        -ms-transform: rotate(-90deg) translateY(13px);
        transform: rotate(-90deg) translateY(13px)
    }
    .nav-about::after {
        top: calc(50% + 15px)
    }
}

@media screen and (max-width: 799px) {
    .nav-about-line {
        display: none
    }
    .nav-top-line {
        display: none
    }
}