/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: 'Lato', Arial, sans-serif;
}

a {
    color: white;
}


/* Code to do animation after page load*/

.preload {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}


/* Logo for page loading*/

.mainstreamloading {
    height: 2em;
    left: 50%;
    position: absolute;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 2em;
    opacity: .2;
}

.bg {
    right: -50%;
}


/* Animation for M*/

.mainstream {
    height: 50em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
}

.mainstreamnails{
    width: 100%;
}
.logo {
    position: absolute;
    animation: logo 5s ease-in-out;
    animation-iteration-count: 1;
    top: 50%;
    width: 100%;
}


/* Keyframes */

@keyframes logo {
    100% {
        opacity: 1;
        transform: scale(10);
    }
    0% {
        opacity: 1;
        transform: translateZ(-1000em);
    }
}


/* Make the 3D work on the container */

.mainstream {
    perspective: 600px;
    transform-style: preserve3d;
}
.nav-logo {
    position: absolute;
    z-index: 100;
    left: 24px;
    top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    font-size: 1.57143rem;
    line-height: 1
}
.slider-display-none {
    display: none;
}
.current{
    display:inline-block;
}
.page-hero .nav-logo {
    color: #fff
}

.soon {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    font-size: 1.57143rem;
    color: white;
}

#container {
    display: none;
}

#shatter {
    display: none;
}
.nav-slogan {
    position: absolute;
    font-size: 10px;
    font-size: 0.71429rem;
    line-height: 1;
    letter-spacing: 0.11em;
    left: 0;
    top: 24px;
    font-weight: 700;
    text-transform: uppercase
}

img {
   
}

#maniImg, #pediImg, #swarvoski, #mnstrmGear {
    
    height: 120%;
    position: absolute;
    width: 100%;
    overflow: hidden;
   

}
@media (min-width: 1024px){
    #maniImg, #pediImg, #swarvoski, #mnstrmGear {
        width: 100%;
        overflow: hidden;
    }
}
.halfofimg {
    width: 20%;
}

.img-circle {
    border-radius: 50%;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#close {
    display: none;
}

#text {
    display: none;
}

.nav-top-line {
    position: absolute;
    top: -2px;
    left: 50%;
    width: 2px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: white;
    background-color: currentColor;
    pointer-events: none;
    height: 30px;
}

.nav > *{
    z-index: 1;
}
.nav-work {
    top: 25px;
    right: 50px;
}

.nav-item {
    position: absolute;
    z-index: 100;
    text-transform: uppercase;
    font-size: 11px;
    font-size: 0.78571rem;
    line-height: 2.27273;
    letter-spacing: 0.11em;
    font-weight: 700;
}
.nav-gallery{
    position: relative;
    left: 50%;
}

.link-brand-inner {
    color: white
}

.link-brand {
    display: inline-block;
    position: relative;
    white-space: nowrap;
}

.nav-about {
    position: relative;
    transform: rotate(270deg);
}

.nav-about-line {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 2px;
    color: white;
    background-color: currentColor;
    height: 10px;
}

.mid-nav {
    position: absolute;
    top: 50%;
}


/* General styles and layout */

body {
    background: black;
    /*url(https://i.imgur.com/3nM3maK.jpg);*/
    overflow: hidden;
}


/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (min-width: 600px) {
    .mainstream {
        font-size: 10px;
    }
}



@media screen and (min-width: 375px) {
    .mainstream {
        font-size: 7px;
    }
   
    .soon {
        font-size: 22px;
        font-size: 1rem
    }

    .current{
    
    }
}

@media screen and (max-width: 599px) {
    .page-hero .nav-logo {
        display: inline-block
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .page-archive .nav-logo {
        display: none
    }
}

@media screen and (min-width: 600px) {
    .nav-logo {
        left: 27px;
        top: 25px;
        font-size: 26px;
        font-size: 1.85714rem
    }
}


@media screen and (min-width: 600px) {
    .nav-slogan {
        font-size: 11px;
        font-size: 0.78571rem;
        line-height: 1;
        left: 100%;
        margin-left: 18px;
        top: 3px;
        white-space: nowrap
    }
}

@media screen and (max-width: 599px) {
    .nav-about {
        width: 24px;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: 16px;
        bottom: 23px
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .nav-about {
        bottom: 16px
    }
}

@media screen and (min-width: 800px) {
    .nav-about {
        padding-top: 30px;
        left: -44px;
        top: 50%;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -ms-transform-origin: center top;
        transform-origin: center top;
        transition: transform 300ms
    }
    .nav-about:hover {
        -ms-transform: rotate(-90deg) translateY(13px);
        transform: rotate(-90deg) translateY(13px)
    }
    .nav-about::after {
        top: calc(50% + 15px)
    }
}

@media screen and (max-width: 799px) {
    .nav-about-line {
        display: none
    }
    .nav-top-line {
        display: none
    }
}