html {
    box-sizing: border-box
}

*,
*::before,
*::after {
    box-sizing: inherit
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: 700
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

hr {
    height: 0;
    box-sizing: content-box
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

optgroup {
    font-weight: 700
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    padding: 0;
    line-height: 1.5;
    border-width: 2px
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
figure,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
table,
th,
td,
caption,
hr {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
dd,
blockquote,
p,
address,
hr,
table,
fieldset,
figure,
pre {
    margin-bottom: 20px;
    margin-bottom: 1.42857rem
}

html {
    font: 0.875em/1.78571 "aktiv-grotesk", sans-serif;
    color: #111;
    background-color: #111;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 100%
}

::-moz-selection {
    background-color: #111;
    color: #fff;
    text-shadow: none
}

::selection {
    background-color: #111;
    color: #fff;
    text-shadow: none
}

dl {
    margin-bottom: 0
}

dt,
.dt {
    font-family: "aktiv-grotesk", sans-serif;
    font-size: 11px;
    font-size: 0.78571rem;
    line-height: 1.45455;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 700;
    margin-bottom: 8px
}

.dt-inner {
    border-bottom: 1px solid
}

dd,
.dd {
    margin-bottom: 20px;
    font-size: 15px;
    font-size: 1.07143rem;
    line-height: 1.46667;
    font-family: "adobe-garamond-pro"
}

@media screen and (max-width: 799px) {
    .data-rwd dt {
        float: left
    }
    .data-rwd dd {
        padding-left: 90px
    }
    .data-rwd::after {
        content: "";
        clear: both;
        display: table
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "adobe-garamond-pro";
    font-weight: normal
}

h1 {
    font-size: 40px;
    font-size: 2.85714rem;
    line-height: 1.3
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 60px;
        font-size: 4.28571rem;
        line-height: 1.2
    }
}

h2 {
    font-size: 30px;
    font-size: 2.14286rem;
    line-height: 1.3
}

h3 {
    font-size: 24px;
    font-size: 1.71429rem;
    line-height: 1.3
}

h4 {
    font-size: 20px;
    font-size: 1.42857rem;
    line-height: 1.3
}

h5 {
    font-size: 16px;
    font-size: 1.14286rem;
    line-height: 1.3
}

h6 {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.3
}

img {
    max-width: 100%;
    height: auto;
    font-style: italic;
    vertical-align: middle
}

.gm-style img {
    max-width: none
}

li {
    list-style: none
}

li>ul,
li>ol {
    margin-bottom: 0
}

ol>li>ol {
    list-style-type: lower-alpha
}

a {
    color: inherit;
    text-decoration: none
}

hr {
    border: none;
    width: 70px;
    border-top: 1px solid;
    margin-bottom: 20px;
    opacity: 0.2
}

@media screen and (min-width: 600px) {
    .columns-2 {
        -moz-column-count: 2;
        column-count: 2;
        -moz-column-gap: 80px;
        column-gap: 80px
    }
}

.container {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
    width: 100%
}

.figure {
    display: block
}

.figure-full {
    width: 100%
}

.grid {
    list-style: none;
    margin: 0 0 0 -20px;
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.grid-item {
    margin-left: 20px;
    width: calc(100% - 20px)
}

.grid-flush,
.grid-flush>.grid-item {
    margin-left: 0
}

.grid-flush>.grid-item {
    width: 100%
}

.grid-right {
    -ms-flex-pack: end;
    justify-content: flex-end
}

.icon {
    fill: currentColor;
    vertical-align: middle;
    display: inline-block;
    width: 18px;
    height: 18px
}

.list-bare {
    list-style: none;
    margin-left: 0
}

.list-inline {
    list-style: none;
    margin-left: 0
}

.list-inline>li {
    display: inline-block
}

.media {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px
}

.media-img {
    margin-right: 20px
}

.media-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.media-body,
.media-body>:last-child {
    margin-bottom: 0
}

.video {
    position: relative;
    padding-bottom: 56.25%
}

.video iframe,
.video embed,
.video object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.link-brand {
    display: inline-block;
    position: relative;
    white-space: nowrap
}

.link-brand::before {
    content: attr(data-text);
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    transition: -webkit-clip-path 320ms ease-in-out 40ms;
    transition: clip-path 320ms ease-in-out 40ms;
    transition: clip-path 320ms ease-in-out 40ms, -webkit-clip-path 320ms ease-in-out 40ms;
    color: currentColor;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
}

.link-brand::after {
    content: "";
    position: absolute;
    top: calc(50% - 1px);
    left: -5%;
    height: 1px;
    width: 0%;
    transition: width 400ms ease-in-out;
    background-color: currentColor;
    opacity: 0.5
}

.link-brand:hover::before {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%)
}

.link-brand:hover::after {
    width: 110%
}

.link-brand-inner {
    opacity: 0.5
}

.link-loud {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.11em;
    font-family: "aktiv-grotesk", sans-serif
}

.band {
    padding: 30px 30px 10px
}

@media screen and (min-width: 600px) {
    .band {
        padding: 100px 100px 80px
    }
}

.band-intro {
    min-height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.band-images {
    padding-top: 0;
    padding-bottom: 30px
}

@media screen and (min-width: 600px) {
    .band-images {
        padding-bottom: 100px
    }
}

.band-images:not(:last-child) {
    padding-bottom: 0
}

@media screen and (max-width: 599px) {
    .band-archive {
        padding-top: 100px;
        padding-bottom: 30px
    }
}

@media screen and (min-width: 1000px) {
    .band-typography {
        padding: 10vw 10vw calc(10vw - 20px)
    }
}

.box {
    margin-bottom: 20px;
    padding: 20px 20px 1px
}

.btn {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    border: none
}

.btn,
.btn:hover,
.btn:focus {
    text-decoration: none
}

.feature {
    margin-left: 0;
    width: 100%;
    position: relative;
    color: #fff
}

@media (min-width: 1000px) {
    .feature {
        width: 50%
    }
}

.feature-body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 30px 10px;
    background-color: rgba(17, 17, 17, 0.8);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media (min-width: 600px) and (max-width: 800px),
(min-width: 1000px) {
    .feature-body {
        padding: 50px 50px 30px
    }
}

@media (min-width: 1200px) {
    .feature-body {
        padding: 70px 90px 50px
    }
}

.feature-title {
    font-weight: 700;
    font-size: 3.5vw;
    line-height: 1.1
}

@media (max-width: 914.28571px) {
    .feature-title {
        font-size: 32px
    }
}

@media (min-width: 1714.28571px) {
    .feature-title {
        font-size: 60px
    }
}

.feature-title.feature-line {
    padding-bottom: 5px;
    margin-bottom: 8px
}

@media screen and (min-width: 600px) {
    .feature-title.feature-line {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 799px) {
    .feature-title .hero-line-inner {
        -ms-transform: translateY(calc(100% + 3px));
        transform: translateY(calc(100% + 3px))
    }
}

.feature-title .link-brand::before {
    padding-right: 5px;
    width: calc(100% + 5px);
    padding-bottom: 5px
}

.feature-line {
    display: block;
    overflow: hidden
}

.feature-line-inner {
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    display: inline-block
}

.field {
    margin-bottom: 20px
}

.headline::after {
    content: "";
    display: block;
    width: 70px;
    border-top: 1px solid;
    margin-top: 20px
}

.hero-slider {
    -ms-transform: none !important;
    transform: none !important;
    background-color: #111;
    height: 100vh
}

.hero {
    height: 100vh;
    width: 100%;
    color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1
}

.hero.is-active {
    z-index: 2
}

.hero-slider .hero {
    position: absolute
}

@keyframes zoom {
    0%,
    100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5)
    }
}

@keyframes zoom-no-objectfit {
    0%,
    100% {
        transform: translate(-50%, -50%) scale(1)
    }
    50% {
        transform: translate(-50%, -50%) scale(1.5)
    }
}

.hero-figure {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #111
}

.hero-figure video,
.hero-figure img {
    max-width: none;
    opacity: 0.6;
    object-fit: cover;
    width: 100%;
    height: 100%
}

.no-objectfit .hero-figure video,
.no-objectfit .hero-figure img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.is-active .hero-figure img,
.is-leaving .hero-figure img {
    animation: zoom linear 50s infinite
}

.no-objectfit .is-active .hero-figure img,
.no-objectfit .is-leaving .hero-figure img {
    animation-name: zoom-no-objectfit
}

.hero-mask {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: auto
}

.hero-cross {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75vh;
    height: 75vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media (orientation: portrait) {
    .hero-cross {
        width: 75vw;
        height: 75vw
    }
}

.hero-content {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100vh;
    z-index: 2;
    padding: 20px 60px 1px 25px;
    font-family: "adobe-garamond-pro";
    width: 100%;
    transition: transform 1.4s cubic-bezier(0.22, 0.44, 0, 1);
    line-height: 1.3
}

@media screen and (min-width: 800px) {
    .hero-content {
        padding: 20px 20px 1px;
        width: 75%;
        left: 12.5%
    }
    .hero-content dd {
        font-size: 20px;
        font-size: 1.42857rem;
        line-height: 1.3
    }
}

.hero-content-inner {
    position: relative
}

.hero-content-top,
.hero-content-bottom {
    position: absolute;
    left: 0
}

.hero-content-top {
    bottom: 100%
}

.hero-content-bottom {
    top: 100%
}

.hero-title {
    font-size: 55px;
    font-size: 3.4375rem;
    line-height: 1;
    font-weight: 700
}

.hero-title.hero-line {
    padding-bottom: 5px;
    margin-bottom: 8px
}

@media screen and (min-width: 600px) {
    .hero-title.hero-line {
        margin-bottom: 15px
    }
}

@media screen and (max-width: 600px) {
    .hero-title .hero-line-inner {
        -ms-transform: translateY(calc(100% + 3px));
        transform: translateY(calc(100% + 3px))
    }
}

@media screen and (min-width: 800px) {
    .hero-title {
        font-size: 140px;
        font-size: 10rem;
        line-height: 1
    }
}

.hero-title .link-brand::before {
    padding-right: 5px;
    padding-bottom: 5px;
    width: calc(100% + 5px)
}

.hero-line {
    display: block;
    overflow: hidden
}

.hero-line-inner {
    -ms-transform: translateY(100%);
    transform: translateY(100%);
    display: inline-block
}

.hero-pagination {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(17, 17, 17, 0.3);
    margin-bottom: 0;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    top: 0;
    left: auto
}

@media screen and (max-width: 599px) {
    .hero-pagination {
        display: none
    }
}

.hero-pagination-link {
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    outline: none;
    cursor: pointer
}

@media screen and (max-width: 799px) {
    .hero-pagination-text,
    .hero-pagination-line {
        display: none
    }
}

.hero-pagination-circle {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    border-radius: 99px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.hero-pagination-dash {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.35);
    transition: background-color 300ms;
    height: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.is-active .hero-pagination-dash {
    background-color: #fff
}

.hero-pagination-text,
.hero-pagination-line {
    position: absolute;
    top: 50%;
    pointer-events: none
}

.hero-pagination-text {
    right: 100%;
    white-space: nowrap;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
    font-size: 0.78571rem;
    line-height: 1;
    text-transform: uppercase;
    margin-right: 56px;
    opacity: 0;
    -ms-transform: translateY(calc(-50% + 5px));
    transform: translateY(calc(-50% + 5px))
}

.hero-pagination-line {
    width: 0px;
    vertical-align: middle;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    right: 100%;
    margin-right: 8px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.hero-action {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.78571
}

@media screen and (min-width: 600px) and (min-height: 400px) {
    .hero-action {
        margin-top: 32px
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    bottom: 0;
    z-index: 100;
    overflow: hidden;
    background-color: #111
}

.is-loading .loader {
    animation: load infinite 5s
}

.loader-img {
    position: absolute;
    top: 50%;
    left: 50vw;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.loader-img svg {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.loader-light {
    background-color: #fff;
    width: 0
}

.loader-light svg path {
    fill: #111
}

.nav-logo {
    position: absolute;
    z-index: 100;
    left: 24px;
    top: 20px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 22px;
    font-size: 1.57143rem;
    line-height: 1
}

.page-hero .nav-logo {
    color: #fff
}

@media screen and (max-width: 599px) {
    .nav-logo {
        display: none
    }
    .page-hero .nav-logo {
        display: inline-block
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .page-archive .nav-logo {
        display: none
    }
}

@media screen and (min-width: 600px) {
    .nav-logo {
        left: 27px;
        top: 25px;
        font-size: 26px;
        font-size: 1.85714rem
    }
}

.nav-slogan {
    position: absolute;
    font-size: 10px;
    font-size: 0.71429rem;
    line-height: 1;
    letter-spacing: 0.11em;
    left: 0;
    top: 24px;
    font-weight: 700;
    text-transform: uppercase
}

@media screen and (min-width: 600px) {
    .nav-slogan {
        font-size: 11px;
        font-size: 0.78571rem;
        line-height: 1;
        left: 100%;
        margin-left: 18px;
        top: 3px;
        white-space: nowrap
    }
}

.nav-item {
    position: absolute;
    z-index: 100;
    text-transform: uppercase;
    font-size: 11px;
    font-size: 0.78571rem;
    line-height: 2.27273;
    letter-spacing: 0.11em;
    font-weight: 700
}

.page-hero .nav-item {
    color: #fff
}

.nav-link {
    display: inline-block
}

.nav-item .nav-link {
    position: relative
}

.nav-back,
.nav-forward,
.nav-up {
    position: fixed;
    padding-top: 10px;
    left: 10px;
    top: 50vh;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -ms-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
    transition: transform 300ms
}

.nav-back:hover,
.nav-forward:hover,
.nav-up:hover {
    -ms-transform: translateY(-50%) rotate(-90deg) translateY(12px);
    transform: translateY(-50%) rotate(-90deg) translateY(12px)
}

.nav-back::after,
.nav-forward::after,
.nav-up::after {
    top: calc(50% + 5px)
}

@media screen and (max-width: 599px) {
    .nav-back,
    .nav-forward,
    .nav-up {
        font-size: 10px;
        font-size: 0.71429rem;
        line-height: 2.27273
    }
}

.nav-up {
    position: absolute;
    left: 50%;
    top: 10px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav-up:hover {
    -ms-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px)
}

@media screen and (max-width: 599px) {
    .nav-up {
        padding-top: 8px
    }
}

@media screen and (max-width: 599px) {
    .nav-back {
        left: -4px;
        top: 42px;
        padding-top: 5px
    }
    .nav-back::after {
        top: calc(50% + 2px)
    }
}

.nav-forward {
    left: auto;
    right: 10px;
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg)
}

.nav-forward:hover {
    -ms-transform: translateY(-50%) rotate(90deg) translateY(12px);
    transform: translateY(-50%) rotate(90deg) translateY(12px)
}

@media screen and (max-width: 599px) {
    .nav-forward {
        right: -4px;
        top: 42px;
        padding-top: 5px
    }
    .nav-forward::after {
        top: calc(50% + 2px)
    }
}

.nav-back-line,
.nav-forward-line {
    width: 2px;
    background-color: currentColor;
    position: absolute;
    left: 50%;
    top: -22px;
    height: 30px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}

.nav-about {
    left: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media screen and (max-width: 599px) {
    .nav-about {
        width: 24px;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        left: 16px;
        bottom: 23px
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .nav-about {
        bottom: 16px
    }
}

@media screen and (min-width: 800px) {
    .nav-about {
        padding-top: 30px;
        left: -44px;
        top: 50%;
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -ms-transform-origin: center top;
        transform-origin: center top;
        transition: transform 300ms
    }
    .nav-about:hover {
        -ms-transform: rotate(-90deg) translateY(13px);
        transform: rotate(-90deg) translateY(13px)
    }
    .nav-about::after {
        top: calc(50% + 15px)
    }
}

.nav-about-line {
    position: absolute;
    top: -2px;
    left: 50%;
    width: 2px;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: currentColor;
    pointer-events: none;
    height: 30px
}

@media screen and (max-width: 799px) {
    .nav-about-line {
        display: none
    }
}

.nav-work {
    top: 25px;
    right: 50px
}

.page-hero .nav-work {
    right: 70px
}

@media screen and (max-width: 599px) {
    .page-hero .nav-work {
        bottom: 23px;
        top: auto;
        right: 12px;
        width: 24px;
        height: 24px;
        white-space: nowrap;
        text-align: right;
        -ms-transform: rotate(90deg);
        transform: rotate(90deg)
    }
    .page-hero .nav-work .nav-link {
        position: absolute;
        top: 0;
        right: 0
    }
}

.nav-follow {
    bottom: 16px
}

@media screen and (max-width: 599px) {
    .nav-follow {
        bottom: auto;
        right: 23px;
        top: 16px
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .nav-follow {
        right: 60px
    }
}

@media screen and (min-width: 800px) {
    .nav-follow {
        left: 26px
    }
}

.nav-copyright {
    right: 70px;
    bottom: 25px
}

.nav-copyright,
.nav-copyright .link-brand {
    text-transform: none;
    letter-spacing: normal
}

@media screen and (max-width: 799px) {
    .nav-copyright {
        display: none
    }
}

.nav-copyright-item:not(:last-child) {
    margin-right: 25px
}

.nav-scroll,
.nav-share {
    position: fixed;
    right: 42px;
    bottom: 50px;
    white-space: nowrap;
    width: 24px;
    height: 24px;
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg)
}

@media screen and (max-width: 599px) {
    .nav-scroll,
    .nav-share {
        display: none
    }
}

.nav-scroll {
    left: 42px
}

.nav-social {
    margin-bottom: 0
}

@media screen and (max-width: 799px) {
    .nav-social {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(17, 17, 17, 0.95);
        visibility: hidden;
        opacity: 0;
        transition: opacity 300ms ease-in-out, visibility 0s 300ms;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }
    .nav-social.is-active,
    .nav-social.is-active~.nav-social-close {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s
    }
}

@media screen and (min-width: 800px) {
    .nav-social {
        display: inline-block
    }
}

@media screen and (min-width: 800px) {
    .nav-social-item {
        display: inline-block
    }
}

.nav-social-item {
    visibility: hidden;
    opacity: 0;
    -ms-transform: translateY(5px);
    transform: translateY(5px)
}

@media screen and (max-width: 799px) {
    .nav-social-item .link-brand {
        font-size: 16px;
        font-size: 1.14286rem;
        line-height: 1.5625
    }
}

@media screen and (min-width: 800px) {
    .nav-social-item:not(:last-child) {
        margin-right: 20px
    }
}

.nav-social-line {
    width: 0px;
    display: inline-block;
    vertical-align: middle;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-left: 8px;
    margin-right: 8px;
    position: relative;
    top: -1px
}

@media screen and (max-width: 799px) {
    .nav-social-line {
        display: none !important
    }
}

.nav-social-close {
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 40px;
    height: 40px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out, visibility 0s 300ms
}

.nav-social-close .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.nav-social.is-active~.nav-social-close {
    -ms-transform: translateY(5px);
    transform: translateY(5px)
}

@media screen and (min-width: 800px) {
    .nav-social-close {
        display: none
    }
}

.nav-top,
.nav-bottom {
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    left: 50%;
    transition: transform 300ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.nav-top:hover,
.nav-bottom:hover {
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

@media screen and (max-width: 799px) {
    .nav-top,
    .nav-bottom {
        display: none
    }
}

.nav-top {
    top: 0;
    -ms-transform: translate(-50%, -32px);
    transform: translate(-50%, -32px)
}

.nav-bottom {
    bottom: 0;
    -ms-transform: translate(-50%, 32px);
    transform: translate(-50%, 32px)
}

.nav-line {
    display: block;
    width: 15px;
    height: 70px;
    background-color: currentColor
}

.nav-sticky {
    position: fixed;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    height: 73px;
    background-color: #fff;
    transition: transform 700ms, background-color 600ms;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.is-inverted .nav-sticky {
    background-color: #111
}

.nav-sticky.is-active {
    -ms-transform: translateY(100%);
    transform: translateY(100%)
}

@media screen and (max-width: 599px) {
    .nav-sticky {
        display: none
    }
}

.page {
    overflow: hidden;
    transition: background-color 600ms, color 600ms;
    background-color: #fff
}

.page.is-inverted {
    background-color: #111;
    color: #fff
}

.page.is-inverted ::-moz-selection {
    background-color: #fff;
    color: #111
}

.page.is-inverted ::selection {
    background-color: #fff;
    color: #111
}

.page-hero {
    position: absolute;
    width: 100vw
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    content: "";
    display: table
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    outline: none;
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}

[dir="rtl"] .slick-slide {
    float: right
}

.slick-slide img {
    display: block
}

.slick-slide.slick-loading img {
    display: none
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.slick-arrow.slick-hidden {
    display: none
}

.slick-dots {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.3);
    width: 35px;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0
}

@media screen and (max-width: 599px) {
    .slick-dots {
        display: none !important
    }
}

.slick-dots button {
    font: inherit;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    outline: none;
    display: block;
    width: 35px;
    height: 35px;
    position: relative;
    outline: none;
    cursor: pointer;
    text-indent: 100%;
    overflow: hidden
}

.slick-dots-circle {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 13px;
    height: 13px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 99px;
    border: 2px solid rgba(255, 255, 255, 0.35);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.slick-dots-dash {
    content: "";
    position: absolute;
    top: 50%;
    left: 12px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.35);
    transition: background-color 300ms;
    height: 2px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.slick-active .slick-dots-dash {
    background-color: #fff
}

.typography {
    font-size: 1.4vw;
    line-height: 1.77778
}

@media (max-width: 1000px) {
    .typography {
        font-size: 14px
    }
}

@media (min-width: 1285.71429px) {
    .typography {
        font-size: 18px
    }
}

.typography h1 {
    font-size: 12vw;
    font-weight: 700;
    margin-bottom: 40px
}

@media (max-width: 500px) {
    .typography h1 {
        font-size: 60px
    }
}

@media (min-width: 1166.66667px) {
    .typography h1 {
        font-size: 140px
    }
}

.typography h2 {
    font-size: 3.4vw;
    margin-bottom: 65px
}

@media (max-width: 941.17647px) {
    .typography h2 {
        font-size: 32px
    }
}

@media (min-width: 1764.70588px) {
    .typography h2 {
        font-size: 60px
    }
}

.typography p:not(:last-child),
.typography ul:not(:last-child),
.typography ol:not(:last-child) {
    margin-bottom: 32px
}

.typography .link-brand {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.78571
}

@media screen and (max-width: 799px) {
    .typography-data {
        margin-bottom: 42px
    }
}

@media screen and (min-width: 800px) {
    .typography-data dd {
        font-size: 1.4vw;
        margin-bottom: 62px
    }
}

@media screen and (min-width: 800px) and (max-width: 1071.42857px) {
    .typography-data dd {
        font-size: 15px
    }
}

@media screen and (min-width: 800px) and (min-width: 1428.57143px) {
    .typography-data dd {
        font-size: 20px
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.align-center {
    text-align: center
}

.align-right {
    text-align: right
}

@media screen and (min-width: 800px) {
    .align-center-desk {
        text-align: center
    }
    .align-right-desk {
        text-align: right
    }
}

.clearfix::after {
    content: "";
    display: table;
    clear: both
}

.alpha,
.beta,
.gamma,
.delta,
.epsilon,
.zeta {
    font-family: "adobe-garamond-pro";
    font-weight: normal
}

.alpha {
    font-size: 40px;
    font-size: 2.85714rem;
    line-height: 1.3
}

@media screen and (min-width: 800px) {
    .alpha {
        font-size: 60px;
        font-size: 4.28571rem;
        line-height: 1.2
    }
}

.beta {
    font-size: 30px;
    font-size: 2.14286rem;
    line-height: 1.3
}

.gamma {
    font-size: 24px;
    font-size: 1.71429rem;
    line-height: 1.3
}

.delta {
    font-size: 20px;
    font-size: 1.42857rem;
    line-height: 1.3
}

.epsilon {
    font-size: 16px;
    font-size: 1.14286rem;
    line-height: 1.3
}

.zeta {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.3
}

@media screen and (max-width: 599px) {
    .hide-palm {
        display: none
    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .hide-lap {
        display: none
    }
}

@media screen and (min-width: 600px) {
    .hide-lap-and-up {
        display: none
    }
}

@media screen and (max-width: 799px) {
    .hide-portable {
        display: none
    }
}

@media screen and (min-width: 800px) {
    .hide-desk {
        display: none
    }
}

@media (max-height: 399px) {
    .hide-short {
        display: none
    }
}

.landmark {
    margin-bottom: 40px
}

@media screen and (min-width: 800px) {
    [class~="push-1/6-desk"] {
        margin-left: calc(16.66667% + 20px)
    }
}

.shift {
    margin-bottom: 20px
}

@media screen and (max-width: 799px) {
    .shift-portable {
        margin-bottom: 20px
    }
}

@media screen and (min-width: 600px) {
    .shift-lap-and-up {
        margin-bottom: 20px
    }
}

@media screen and (min-width: 800px) {
    .shift-top-desk {
        margin-top: 20px
    }
}

[class~="1/2"] {
    width: calc(50% - 20px)
}

.grid-flush>[class~="1/2"] {
    width: 50%
}

@media screen and (min-width: 600px) {
    [class~="1/2-lap-and-up"] {
        width: calc(50% - 20px)
    }
    .grid-flush>[class~="1/2-lap-and-up"] {
        width: 50%
    }
}

@media screen and (min-width: 800px) {
    [class~="1/6-desk"] {
        width: calc(16.66667% - 20px)
    }
    .grid-flush>[class~="1/6-desk"] {
        width: 16.66667%
    }
    [class~="3/10-desk"] {
        width: calc(30% - 20px)
    }
    .grid-flush>[class~="3/10-desk"] {
        width: 30%
    }
    [class~="1/3-desk"] {
        width: calc(33.33333% - 20px)
    }
    .grid-flush>[class~="1/3-desk"] {
        width: 33.33333%
    }
    [class~="1/2-desk"] {
        width: calc(50% - 20px)
    }
    .grid-flush>[class~="1/2-desk"] {
        width: 50%
    }
    [class~="7/10-desk"] {
        width: calc(70% - 20px)
    }
    .grid-flush>[class~="7/10-desk"] {
        width: 70%
    }
    [class~="3/4-desk"] {
        width: calc(75% - 20px)
    }
    .grid-flush>[class~="3/4-desk"] {
        width: 75%
    }
}